body, html { 
    overflow-x: hidden; 
    overflow-y: hidden;
}
button #mouseOver2{
	display: none;
}
button:hover #mouseOver1{
	display: none;
}
button:hover #mouseOver2{
	display: inline;
}

.spacer{
	width: 5px;
	height: 1px;
}
#player{
	height: 15px;
	width: 15px;
	background-color: black;
	border:black solid 2px;
	position: absolute;
	top: 160px;
	left: 50px;
	z-index: 100;
}
#Sword{
	
	position: absolute;
	top: 5px;
	left: 5px;
}
#SwordImg{
	
}
#safe{
	width: 70px;
	height:70px;
	background-color: #6ADA6A;
	border: #008A2E solid 2px;
	position: absolute;
	top: 130px;
	left: 20px;
	z-index: -1
}
#shopUI{
	padding: 5px;
	width: 98%;
	height:85px;
	border:grey solid 2px;
	position: absolute;
	top: 85%;
	z-index: 1;
}
.enemy{
	height: 15px;
	width: 15px;
	border:black solid 2px;
	position: absolute;
}
#enemy1{
	top:500px;
	left: 100;
}
#enemy2{
	top:500px;
	left: 200px;
}
#enemy3{
	top:500px;
	left: 300px;
}
#enemy4{
	top:500px;
	left: 400px;
}
#enemy5{
	top:500px;
	left: 500px;
}
#enemyHolder{
	/*leave blank*/
}
.wall{
}
#wall1{
	width: 99%;
	height: 5px;
	background-color: red;
	border:blue solid 2px;
	position: absolute;
	top: 0px;
	left:0px;
}
#wall2{
	width: 5px;
	height: 85%;
	background-color: red;
	border:blue solid 2px;
	position: absolute;
	top: 0px;
	left:99%;
}
#wall3{
	width: 5px;
	height: 85%;
	background-color: red;
	border:blue solid 2px;
	position: absolute;
	top: 0px;
	left:0px;
}
#wall4{
	width: 99%;
	height: 5px;
	background-color: red;
	border:blue solid 2px;
	position: absolute;
	top: 85%;
	left:0px;
}
#wall5{
	width: 100px;
	height: 45px;
	background-color: red;
	border:blue solid 2px;
	position: absolute;
	top: 400px;
	left:670px;
}
#wall6{
	width: 60px;
	height: 65px;
	background-color: red;
	border:blue solid 2px;
	position: absolute;
	top: 200px;
	left:670px;
}
#wall7{
	width: 50px;
	height: 235px;
	background-color: red;
	border:blue solid 2px;
	position: absolute;
	top: 40px;
	left:1000px;
}
#wall8{
	width: 90px;
	height: 105px;
	background-color: red;
	border:blue solid 2px;
	position: absolute;
	top: 400px;
	left:300px;
}
.coin{
	width: 5px;
	height: 5px;
	background-color: yellow;
	position: absolute;
	border:black 2px solid;
}
#coin1{
	top:50px;
	left:300px;
}
#coin2{
	top:50px;
	left:300px;
}
#coin3{
	top:50px;
	left:300px;
}
#coin4{
	top:50px;
	left:300px;
}
#coin5{
	top:50px;
}
#coin6{
	top:50px;
	left:300px;
}
#coin7{
	top:50px;
	left:300px;
}
#coin8{
	top:50px;
	left:300px;
}
#coin9{
	top:50px;
	left:300px;
}
#coin10{
	top:50px;
	left:300px;
}
#coin11{
	top:50px;
	left:300px;
}
#scoreboard{
	width: 1000px;
	
	display: flex;
}
#score{

}

#Reset{
	position: absolute;
	top: 5px;
	left: 50%;
	border:black 2px solid;
}
