/*
    Document   : vindinium.css
    Created on : 2015-05-28 05:11 PM
    Author     : gman6500
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/


.toolbar{
width: 1350px;
height: 30px;
background-color: #2A7CDA;
border-style: solid;
border-width: 2px;
border-color: #5C99DE;
}
.toolbarBox{
	width: 337px;
	height:20px;
	background-color:#2A7CDA;
	border-style: solid;
	border-width: 2px;
	border-color:#5C99DE;
}
a{
	text-decoration: none;
	color: white;
}
a:hover{
	background-color: #52A3CC;
}
body{
	background-color: #DCFFFF
}
img{
    border-color:#007ACC;
    border-style:solid;
    border-width:15px;
}
.Title{
	width: 1350px;
	height: 50px;
	text-align: center;
	font-size: 24px;
	background-color: #5C7DFF;
}
#map{
    float:right;
}
#vind{
    size:50px;
    background-color:#2A7CDA;
    float:left;
    font-size:20px;
    width:600px;
    border: #5C99DE 2px solid;
    margin: 15px;
}
#div1{
    float:left;
    margin:10px;
    background-color:#2A7CDA;
    padding:10px;
}
.explanation{
    background-color:#2A7CDA;
	float:left;
    width:700px;
    font-size:25px;
}
#myBot{
    float:left;
    margin:10px;
    background-color:#2A7CDA;
    padding:10px;
    height:400px;
}
#spacer{
    float:right;
    width:100px;
}